# sonarqube-deployment.yaml – SonarQube avec persistance pour Minikube

---
apiVersion: v1
kind: PersistentVolume
metadata:
  name: sonarqube-pv
  namespace: devops
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  hostPath:
    path: /mnt/data/sonarqube   # dossier sur ton système Minikube/WSL
---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: sonarqube-pvc
  namespace: devops
spec:
  accessModes:
    - ReadWriteOnce
  resources:
    requests:
      storage: 5Gi
---
apiVersion: apps/v1
kind: Deployment
metadata:
  name: sonarqube
  namespace: devops
  labels:
    app: sonarqube
spec:
  replicas: 1
  selector:
    matchLabels:
      app: sonarqube
  template:
    metadata:
      labels:
        app: sonarqube
    spec:
      initContainers:
        - name: increase-vm-max-map
          image: busybox:1.28
          command: ['sh', '-c', 'sysctl -w vm.max_map_count=524288']
          securityContext:
            privileged: true
      containers:
        - name: sonarqube
          image: sonarqube:10.5-community
          imagePullPolicy: IfNotPresent
          resources:
            requests:
              memory: "1200Mi"
              cpu: "500m"
            limits:
              memory: "2500Mi"
              cpu: "1500m"
          ports:
            - containerPort: 9000
          env:
            - name: SONAR_ES_BOOTSTRAP_CHECKS_DISABLE
              value: "true"
          volumeMounts:
            - mountPath: /opt/sonarqube/data
              name: sonarqube-storage
          readinessProbe:
            httpGet:
              path: /api/system/status
              port: 9000
            initialDelaySeconds: 60
            periodSeconds: 30
            failureThreshold: 10
      volumes:
        - name: sonarqube-storage
          persistentVolumeClaim:
            claimName: sonarqube-pvc

---
apiVersion: v1
kind: Service
metadata:
  name: sonarqube-service
  namespace: devops
spec:
  selector:
    app: sonarqube
  ports:
    - port: 9000
      targetPort: 9000
      nodePort: 30090
  type: NodePort
